/*  your css code here. If applicable */
body{
	font-size: 2rem;
}

th,td{
	border: 2px solid #CCCCCC;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}